<div class="navbar-out">
    <img class="sweets-logo" src="/assets/images/sweets-logo.png" alt="sweets logo"/>
</div>

<div class="content">
<div class="header">
    <h1 class="all-products">All Products</h1>
</div>

<div class="text">
    <p class="text">our delicious sweets are available for next day delievery.our delicious sweets are available for next day delievery.our delicious sweets are available for next day delievery.our delicious sweets are available for next day delievery.our delicious sweets are available for next day delievery.</p>
</div>
</div>
    
<div class="sweets-arrow">
    <img src="/assets/images/down-arrow.png" class="down-arrow" alt="down arrow"/>
  </div>