.software-values-wrapper {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 40px;
}

.software-values-wrapper p {
  padding: 0 20px;
}


.software-values-wrapper h3 {
  padding: 0 20px;
  color: black;
  text-align: center;
}

.who-are-you-wrapper {
  width: 100%;
  background-color: #131e5f;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #FFF;
}

.who-are-you-wrapper p {
  padding: 0 20px;
}

.who-are-you-wrapper .columns {
  padding-top: 40px;
}

.phone-fields, .email-fields {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 16px;
}

.contact-form {
  padding: 0 10px;
}

.button-wrapper {
 width: 100%;
}

.button .send {
  float: left;
}
.email {
  text-align: center;
  /*border: 2px solid black;*/
}
.information {
  text-align: center;
  border-right: 2px solid black;
  /*border: 2px solid white;*/
}

.social-links {
  display: block;
  margin-bottom: 20px;
}

.social-name {
  margin-left: 30px;
  font-weight: bold;
  text-align: right;
}

.social-icon {
  width: 100%;
  max-width: 30px;
  filter: invert(12%) sepia(76%) saturate(1957%) hue-rotate(220deg) brightness(88%) contrast(105%);
}

.profile {
  border-radius: 50%;
  object-fit: cover;
  max-height: 360px;
  margin-bottom: 40px;
}

.home-address {
  text-transform: uppercase;
}
.email-address {
  text-transform: uppercase;
}
.link-head {
  margin-bottom: 6px;
}
.mini-info {
  font-size:12px;
}

/*.phone-fields .button, .email-fields .button {*/
/*  margin-left: 0;*/
/*}*/

.phone-fields h3, .email-fields h3 {
  padding-left: 0;
  margin-top: 0;
}

.email-fields p {
  padding-left: 0;
}

.email-fields {
  margin-top: 40px;
}

.be-in-touch {
  padding-left: 0!important;
}

ul {
  margin-left: 50px;
}
