.wrapper {
    /*margin-top: 0;*/
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 130px;

    /*padding-left: 40%;*/
    /*padding-right: 40%;*/
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 17px;
    margin-bottom: 0;
    font-size: 33px;
}

.container {
    width: 100%;
    padding: 15px 45px;
}
.images {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.button {
    position: relative;
    color: black;
    background-color: white;
    display: block;
    width: 100%;
    font-weight: bold;
}

.image-box {
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

/** Product info **/

.image-wrap {
    width: 100%;
    height: 300px;
    /*padding: 20px 5px;*/
    /*margin: 0px 5px;*/
}

.img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.text-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.item-name {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.item-name:hover {
    color: #0044cd;
}


.cart-icon {
    width: 20px;
    height: 30px;
}
.suggestions-button {
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
.suggestions-button:hover {
    animation: none;
}

.add:hover, .add:focus {
    animation: none;
}
