<div class="router-outlet">
  <h2>abous</h2>
<!--  <div class="parallax"></div>-->

<!--  <div class="call-to-action">-->
<!--    <p>Every celebration deserves our <span class="theme-pink">Magical</span><span class="theme-grey">Treats</span>.</p>-->
<!--    <p>Order online for quick and easy delivery with our perfection guarantee.</p>-->
<!--    <button class="button inverted">Shop Now</button>-->
<!--  </div>-->

  <div class="offers grid-x">
    <div class="sweets small-12 medium-4 columns">
      <h3 class="offers-title">Sweets</h3>
      <img class="thumbnail" src="./assets/images/jellies.jpg"/>
      <p class="offers-description">Try some of our sweet bags.</p>
      <button class="button invert-Btn">Order Now</button>
    </div>
    <div class="cupcakes small-12 medium-4 columns">
      <h3 class="offers-title">Cupcakes</h3>
      <img class="thumbnail" src="./assets/images/cupcake1.jpg"/>
      <p class="offers-description">Try some of our sweet bags.</p>
      <button class="button invert-Btn">Order Now</button>
    </div>
    <div class="cookies small-12 medium-4 columns">
      <h3 class="offers-title">Cookies</h3>
      <img class="thumbnail" src="./assets/images/macroons.jpg"/>
      <p class="offers-description">Try some of our sweet bags.</p>
      <button class="button invert-Btn">Order Now</button>
    </div>
  </div>

  <div class="parallax2"></div>

  <div class="banner">
    <h2>Homemade treats and sweets available online NOW! </h2>
    <button class="button">Go to Shop</button>
  </div>


  <!--  <app-hero [imageUrl]="'./assets/images/unbaked.jpg'"></app-hero>-->
<!--  <app-info-tile [paragraph]="'this is a para'"></app-info-tile>-->

</div>
