.wrapper {
    padding: 20px 40px;
    text-align: left;
}
.longLine {
    width: 100%;
    border-top: 2px solid black;
}

.video-section {
    /*text-align: left;*/
    width: 100%;
    position: relative;
}

.fa-sort-down {
    position: relative;

}


.video-section h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.animation {
    width: 100%;
    height: 400px;
}

.hideButton {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 31px;
    border-radius: 10px;
    width: 50px;
}

.holder h5 {
    margin-top: 20px;
}

.holder {
    padding: 10px 30px;
}

