.outer-form {
  background-color: white;
  width: 50%;
  padding: 10px 10px;
  position: relative;
  border-radius: 25px;
}

.input-title {
  padding: 20px 35px;
  height: 45px;
  display: block;
  margin: 0 auto 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
}
