.sweet-out {
  border: 0.5px solid #eeeee4;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.grid-x {
  padding: 15px;
}

.vegan::before {
  position: absolute;
  left: 0%;
  bottom: 15%;
  content: url("../../../assets/images/vegan-logo.png");
}

.image-block {
  position: relative;
}

.best-seller::after {
  position: absolute;
  right: 0px;
  top: 0px;
  content: url("../../../assets/images/container.png");
}

.outer-btn {
  background-color: #1b9aaa;
}

.view-btn {
  color: white;
  padding: 20px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  cursor: pointer;
}
