<div class="image-container" >
  <div class="sweets-picker grid-x">
    <div class="small-12 medium-6 large-2 columns" *ngFor="let image of images">
   <div class="image-wrapper">
     <input class="counter" [value]="quantity"/>
     <img [src]="image.url" class="image-item" [alt]=image.description/> 
      <div class="buttonSection">
        <button class="addButton" (click)="plus()">+</button>
        <button class="minusButton" (click)="minus()">-</button>
      </div>
   </div>
  </div>
</div>
</div>