.image-wrapper {
  height: 200px;
  display: inline-block;
}

.image-item {
  background-size: contain;
  border-radius: 40px;
}

.counter {
  width: 25px;
  height: 25px;
  position: relative;
  top: -35px;
  right: -80px;
  border-radius: 20px;
  background-color: #db2763;
  color: white;
  border: 1px solid #ffffff;
  padding: 3px;
  font-size: 15px;
}

.buttonSection {
  background-color: #db2763;
  border: 1.5px solid #1b9aaa;
  box-sizing: border-box;
  border-radius: 20px;
  width: 20%;
  cursor: pointer;
}

.addButton {
  color: white;
  width: 60%;
}

.minusButton {
  color: white;
  width: 20%;
}
