   <div class="container grid-x">
       <!--Section-->
        <div class="image-box small-12 medium-6 columns">
            <h2 class="bottom">Different styles</h2>
            <h2 class="show">For all shapes and sizes</h2>
            <img src="./assets/images/casualImage.jpeg" alt="high-waisted-image" class="firstImage"/>
            <button class="button inverted" routerLink="/catalog">Shop Now</button>
        </div>

       <!--Section-->
       <div class="image-box small-12 medium-6 columns bottom">
           <h2>For all shapes and sizes</h2>
            <img src="./assets/images/modelTrackuitImage.jpeg" alt="Tunic/hoodie-image" class="secondImage"/>
           <button class="button inverted" routerLink="/catalog">Shop Now</button>
        </div>
   </div>
