<div class="social-share-wrapper">
  <div class="grid-x">
    <div class="small-2 columns">
      <img class="share-icon" src="./assets/images/icons/bookmark-outline-white.svg" width="30px" alt="Announcement" />
    </div>
    <div class="small-8 columns"><p [innerHtml]="shareableText"></p></div>
    <div class="small-2 columns">
      <img src="./assets/images/icons/facebook-outline-white.svg" width="30px" alt="Share quote on Facebook" />
      <img src="./assets/images/icons/facebook-outline-white.svg" width="30px" alt="Share quote on Twitter" />
      <img src="./assets/images/icons/facebook-outline-white.svg" width="30px" alt="Share quote on LinkedIn" />
    </div>
  </div>
</div>
