.wrapper {
  background-color: white;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
}

.required {
  text-align: right;
  display: block;
  padding-right: 30px;
  font-size: 13px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 20px 35px;
  height: 45px;
  display: block;
  margin: 0 auto 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
}

.registration {
  padding: 10px 10px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-right: 20%;
  padding-left: 20%;
}

.image-wrapper {
  width: 90px;
  margin-bottom: 15px;
}

.image-item {
  background-size: cover;
  width: 300px;
  border-radius: 50%;
}

.counter-wrapper {
  position: relative;
}

.counter {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #db2763;
  border: 1px solid white;
  color: white;
  position: absolute;
  right: -5px;
  top: -5px;
  text-align: center;
}

@media (max-width: 700px) {
  .registration {
    padding: 80px 30px;
  }

  .wrapper {
    width: 100%;
    padding: 10px 15px;
  }
  input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
  }
  input[type="password"] {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
