.wrapper {
    width: 100%;
    height: auto;
}

.images {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.position {
    object-position: center;
}
.image-box {
    height: 300px;
}
.button {
    position: relative;
    top: -25%;
    border: 2px dashed black;
}



@media (max-width: 650px) {
    .bottoms {
        /*display: none;*/
    }
}

