.blog-text {
  position: relative;
  color: black;
}

.text-wrapper {
  padding: 10px 0;
}

ul {
  margin: 0;
}

ul li {
  padding: 0;
}

@media (max-width: 520px) {
  .text-wrapper {
    padding: 10px 0;
  }
}
