<div class="wrapper">
    <h2>Shop By</h2>
   <div class="container grid-x">

       <!--Section-->
        <div class="image-box medium-2 columns">
            <img src="assets/images/shopBycoats.jpg" alt="jacket-image" class="images"/>
            <button class="button">Tops</button>
        </div>

       <!--Section-->
       <div class="image-box medium-2 columns">
            <img src="assets/images/shopByDresses.jpg" alt="tracksuits-image" class="images"/>
           <button class="button">Going Out</button>
        </div>

       <!--Section-->
       <div class="image-box medium-2  columns">
            <img src="assets/images/shopByJackets.jpg" alt="jumpers-image" class="images"/>
           <button class="button">Denim</button>
       </div>

       <!--Section-->
       <div class="image-box medium-2 columns">
            <img src="assets/images/shopByTops.jpg" alt="jacket-image" class="images"/>
           <button class="button">Co-ords</button>
       </div>

       <!--Section-->
       <div class="image-box medium-2 columns">

       <img src="assets/images/shopByTracksuits.jpg" alt="jacket-image" class="images"/>
           <button class="button">Activewear</button>
       </div>
       <!--Section-->
       <div class="image-box medium-2 columns">
       <img src="assets/images/tops.jpg" alt="jacket-image" class="images"/>
           <button class="button">Casual</button>
       </div>
   </div>
</div>
