<div class="wrapper">
    <div class="container">
        <div class="image">
            <img class="guarantee" src="./assets/images/30day.png" alt="money back guarantee"/>
            <img class="img" [src]="product.options[0].imageUrls[0]" [alt]="product.options[0].name"/>
        </div>
        <div class="description-container">
            <p class="item-name">{{ product.productName }}</p>
            <p class="item-price">
                <button class="button buy" (click)="buyProduct()" *ngIf="product?.options[0].quantityAvailable !== 0">Add to Cart</button>
                {{ product.options[0].price | currency: 'GBP' }}</p>
            <p class="descriptions" [innerHTML]="product.options[0].description">
            </p>
        </div>
    </div>

</div>
