.image-wrapper {
  width: 90px;
  margin-bottom: 15px;
}

.image-item {
  background-size: cover;
  width: 300px;
  border-radius: 50%;
}

.counter-wrapper{
  position: relative;
}
.number {
  font-weight: bold;
  width: 100%;
}
.counter {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #DB2763;
  border: 1px solid white;
  color: white;
  position: absolute;
  right: -5px;
  top: -5px;
  text-align: center;
}

.buttonSection{
  width: 100%;
  margin-top: 15px;
}

.addButton {
  background-color: #DB2763;
  border: 1px solid white;
  color: white;
  width: 50%;
  font-size: 30px;
  padding: 5px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.minusButton {
  background-color: #DB2763;
  border: 1px solid white;
  color: white;
  width: 50%;
  font-size: 30px;
  padding: 5px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;

}
