<div class="router-outlet">
  <div class="full-width">
    <ul class="grid-x large-screen-menu">
<!--      <li class="medium-2 columns showAllList" [ngClass]="{'selected': !queryId}">-->
<!--        <a class="showAll" routerLink="/shop">-->
<!--          &lt;!&ndash;          <i class="fas fa-star"></i>&ndash;&gt;-->
<!--          Show All-->
<!--        </a>-->
<!--      </li>-->
      <li class="medium-2 columns"  *ngFor="let categoryItem of categoryItems" [ngClass]="{'selected': categoryItem?._id === queryId}">
        <a class="cat-text" routerLink="/shop" [queryParams]="{ categoryId: categoryItem?._id }">
          <i class="fas fa-star"></i> {{ categoryItem.name }}
        </a>
      </li>
    </ul>
<!--    <div class="grid-x small-screen-menu">-->
<!--      <div class="small-12 columns">-->
<!--        <a [routerLink]="'/shop'">-->
<!--          <img src="./assets/images/icons/shopping-cart-outline-white.svg" width="20px" alt="Shop Now" />-->
<!--          Shop Now-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="parallax"></div>

</div>
