<app-modal>
    <div class="steps-container">
        <div class="steps-wrapper">
            <span (click)="modalClosed()" class="close"><i class="fas fa-times"></i></span>
            <div *ngFor="let step of steps; let i = index;">
                <div [hidden]="i !== counter">
                    <div class="steps-holder">
                        <div class="section">
                            <img src="./assets/images/bag.png" alt="sweets bag" class="stepsIcon bagImage"/>
                            <label [ngClass]="{'active': i === 0}">Select Bag</label>
                        </div>
                        <div class="arrowSection">
                            <img src="./assets/images/right-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i >= 1" />
                            <img src="./assets/images/grey-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i === 0"/>
                        </div>
                        <div class="section">
                            <img src="./assets/images/sweets.png" alt="sweets" class="stepsIcon sweetsImage"/>
                            <label [ngClass]="{'active': i === 1}">Choose Sweets</label>
                        </div>
                        <div class="arrowSection">
                            <img src="./assets/images/right-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i >= 2" />
                            <img src="./assets/images/grey-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i <= 1"/>
                        </div>
                        <div class="section">
                        <img src="./assets/images/transit.png" alt="delivery car" class="stepsIcon deliveryImage"/>
                            <label [ngClass]="{'active': i === 2}">Delivery Address</label>
                        </div>
                        <div class="arrowSection">
                            <img src="./assets/images/right-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i >= 3" />
                            <img src="./assets/images/grey-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i <= 2"/>
                        </div>
                        <div class="section">
                            <img src="./assets/images/analyze.png" alt="preview section" class="stepsIcon previewImage"/>
                            <label [ngClass]="{'active': i === 3}">Preview Order</label>
                        </div>
                        <div class="arrowSection">
                            <img src="./assets/images/right-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i >= 4" />
                            <img src="./assets/images/grey-arrow.png" alt="right arrow" class="rightArrow" *ngIf="i <= 3"/>
                        </div>
                        <div class="section">
                            <img src="./assets/images/payment.png" alt="payment section" class="stepsIcon previewImage"/>
                            <label [ngClass]="{'active': i === 4}">Payment</label>
                        </div>
                    </div>
                    <h5 class="step-title">{{step.title}}</h5>
<!--                    <p class="description">{{step.description}}</p>-->
                </div>
            </div>
            <div class="bag-selection" *ngIf="counter===0">
                <div class="bags-wrapper grid-x">
                    <div class="bagOption small-4 medium-4 columns">
                        <button class="optionSelectButton" (click)="selectOption('500')" [ngClass]="{'selected': selectedSize === '500'}">
                            <img src="assets/images/sweets-bag-500g.png" class="sweetBag b1"/>
                            <span>500g</span>
                        </button>
                    </div>
                    <div class="bagOption small-4 medium-4 columns">
                        <button class="optionSelectButton" (click)="selectOption('1000')" [ngClass]="{'selected': selectedSize === '1000'}">
                            <img src="assets/images/sweets-bag-1kg.png" class="sweetBag b2"/>
                            <span class="text-b2">1kg</span>
                        </button>
                    </div>
                    <div class="bagOption small-4 medium-4 columns">
                        <button class="optionSelectButton" (click)="selectOption('2000')" [ngClass]="{'selected': selectedSize === '2000'}">
                            <img src="assets/images/sweets-bag-2kg.png" class="sweetBag b3"/>
                            <span class="text-b3">2kg</span>
                        </button>
                    </div>
                    <div class="next-button">
                        <button class="button " (click)="nextSteps()">Next</button>
                    </div>
                </div>
            </div>
            <div class="sweets-selection" *ngIf="counter===1">
                <div class="sweets-wrapper">
                    <div class="sweets-picker">
                        <app-sweets-picker [images]="images"></app-sweets-picker>
                    </div>
                    <div class="next-button">
                        <button class="button" (click)="nextSteps()">Next</button>
                    </div>
                </div>
            </div>

            <div class="delivery-selection" *ngIf="counter===2">
                <div class="information-form" *ngIf="counter===2">
                    <!-- <app-form-inputs
                    (formResponse)="RecieveResponse($event)"
                    [form]="form">
                    </app-form-inputs> -->
                    <app-sweet-counter-2>
                        
                    </app-sweet-counter-2>
                </div>
                <div class="next-button">
                    <button class="button" (click)="nextSteps()">Next</button>
                </div>
            </div>

            <div class="contact" *ngIf="counter===3">
                <div class="contact-wrapper">
                    <div class="contact-form-one">
                        <app-contact-form></app-contact-form>
                    </div>
                    <div class="next-button">
                        <button class="button" (click)="nextSteps()">Next</button>
                    </div>
                </div>
            </div>

            <div class="preview-selection" *ngIf="counter===4">
                <app-sweet-counter></app-sweet-counter>
                <div class="next-button">
                    <button class="button" (click)="nextSteps()">Next</button>
                </div>
            </div>
            <div class="payment-selection" *ngIf="counter===5">
                <!-- <app-payment
                    [form]="form">
                </app-payment> -->
                <div class="next-button">
                    <button class="button" (click)="modalClosed()">Finished</button>
                </div>
            </div>
            
            <div class="sweets-picker" *ngIf="counter===1">
                <app-sweets-picker></app-sweets-picker>
            </div>
        </div>
    </div>   
</app-modal>

