<div class="steps-container">
    <div class="steps-wrapper">
        <div *ngFor="let step of steps; let i = index;">
            <div [hidden]="i !== counter">
                <h3>Step {{[i +1]}}</h3>
                <h5>{{step.title}}</h5>
                <p>{{step.description}}</p>
            </div>
        </div>

        <div class="bag-selection" *ngIf="counter===0">
            <div class="bags-wrapper grid-x">
                <div class="bagOption small-4 medium-4 columns">
                <button class="optionSelectButton" (click)="selectOption('500')" [ngClass]="{'selected': selectedSize === '500'}">
                    <img src="assets/images/icons/sweets-bag.png" class="sweetBag"/>
                   <span>500g</span>
                </button>
            </div>
                <div class="bagOption small-4 medium-4 columns">
                    <button class="optionSelectButton" (click)="selectOption('1000')" [ngClass]="{'selected': selectedSize === '1000'}">
                        <img src="assets/images/icons/sweets-bag.png" class="sweetBag"/>
                        <span>1kg</span>
                    </button>
                </div>
                <div class="bagOption small-4 medium-4 columns">
                    <button class="optionSelectButton" (click)="selectOption('2000')" [ngClass]="{'selected': selectedSize === '2000'}">
                        <img src="assets/images/icons/sweets-bag.png" class="sweetBag"/>
                        <span>2kg</span>
                    </button>
                </div>
            <div>
            <button class="button bottom" (click)="nextSteps()">Next</button>
        </div>
    </div>
</div>
