.steps-wrapper {
  padding: 30px 40px;
}

.steps-holder {
  display: flex;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  padding: 10px 20px 20px 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 1.95px 1.95px #000000;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.next-button {
  display: block;
  margin: 0 auto;
}

.close {
  width: 40px;
  background-color: #ed315dff;
  padding: 5px;
  position: relative;
  float: right;
  text-align: center;
  top: -18px;
  right: -25px;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.section {
  position: relative;
  top: 10px;
}

.stepsIcon {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.step-title {
  text-align: center;
  color: white;
  background-color: #db2763;
  padding: 10px 20px;
  border-radius: 20px;
  width: 50%;
  font-size: 30px;
  display: block;
  margin: 60px auto;
  text-transform: uppercase;
}

.fa-times {
  color: white;
}

.rightArrow {
  width: 30px;
  height: 30px;
  margin: 20px 15px;
  position: relative;
  top: 5px;
}

.section label {
  font-size: 17px;
  color: #1b9aaa;
}

.section label.active {
  font-size: 17px;
  color: #ed315dff;
}

.button {
  background-color: #ed315dff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-top: 45px;
  font-size: 30px;
}

.sweetBag {
  max-height: 150px;
  position: relative;
}

/*.description {*/
/*  text-align: center;*/
/*  color: white;*/
/*  background-color: #db2763;*/
/*  padding: 10px 20px;*/
/*  border-radius: 20px;*/
/*  width: 50%;*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*}*/

.b1 {
  top: -10px;
}

.b2 {
  top: -20px;
}

.b3 {
  top: -30px;
}

.text-b2 {
  top: -17px;
  position: relative;
}

.text-b3 {
  top: -32px;
  position: relative;
}

.selected {
  border: 1px solid #db2763;
  box-sizing: border-box;
  border-radius: 30px;
}

.optionSelectButton {
  display: grid;
  margin: 0 auto;
  padding: 28px;
  height: 153px;
}
.optionSelectButton span {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
