<div class="wrapper">
   <div class="container grid-x large-screen-menu">
       <!--Section-->
        <div class="image-box small-6 medium-3 columns">
            <img src="./assets/images/outsideImage.jpeg" alt="jeans-image" class="images"/>
            <button class="button" routerLink="/shop" [queryParams]="{ categoryId: jeansCategory}" routerLinkActive="active">Shop Jeans</button>
        </div>

       <!--Section-->
        <div class="image-box small-6 medium-3 columns">
            <img src="./assets/images/casualImage.jpeg" alt="jeans-image" class="images position"/>
            <button class="button" routerLink="/shop" [queryParams]="{ categoryId: shirtCategory}" routerLinkActive="active">Shop Shirts</button>
        </div>
       <!--Section-->
       <div class="image-box small-6 medium-3 columns ">
            <img src="./assets/images/modelImage.jpeg" alt="tshirt-image" class="images"/>
           <button class="button" routerLink="/shop" [queryParams]="{ categoryId: jacketCategory}" routerLinkActive="active"><span class="bottoms">Shop</span> Jacket</button>
       </div>

       <!--Section-->
       <div class="image-box small-6 medium-3 columns">
            <img src="./assets/images/modelTrackuitImage.jpeg" alt="tunic-image" class="images"/>
           <button class="button" routerLink="/shop" [queryParams]="{ categoryId: hoodiesCategory}" routerLinkActive="active"><span class="bottoms">Shop</span>   Hoodies</button>
       </div>
   </div>
<!--   <div class="container grid-x small-screen-menu">-->
<!--       &lt;!&ndash;Section&ndash;&gt;-->
<!--        <div class="image-box small-6 medium-3 columns ">-->
<!--            <img src="./assets/images/outsideImage.jpeg" alt="jeans-image" class="images"/>-->
<!--            <button class="button" routerLink="/shop" [queryParams]="{ categoryId: jeansCategory}" routerLinkActive="active">Shop Jeans</button>-->
<!--        </div>-->

<!--       &lt;!&ndash;Section&ndash;&gt;-->
<!--        <div class="image-box small-6 medium-3 columns ">-->
<!--            <img src="./assets/images/casualImage.jpeg" alt="jeans-image" class="images position"/>-->
<!--            <button class="button" routerLink="/shop" [queryParams]="{ categoryId: shirtCategory}" routerLinkActive="active">Shop Shirts</button>-->
<!--        </div>-->
<!--       &lt;!&ndash;Section&ndash;&gt;-->
<!--       <div class="image-box small-6 medium-3 columns">-->
<!--            <img src="./assets/images/modelImage.jpeg" alt="tshirt-image" class="images"/>-->
<!--           <button class="button" routerLink="/shop" [queryParams]="{ categoryId: jacketCategory}" routerLinkActive="active"><span class="bottoms">Shop</span> Jacket</button>-->
<!--       </div>-->

<!--       &lt;!&ndash;Section&ndash;&gt;-->
<!--       <div class="image-box small-6 medium-3 columns">-->
<!--            <img src="./assets/images/modelTrackuitImage.jpeg" alt="tunic-image" class="images"/>-->
<!--           <button class="button" routerLink="/shop" [queryParams]="{ categoryId: hoodiesCategory}" routerLinkActive="active"><span class="bottoms">Shop</span>   Hoodies</button>-->
<!--       </div>-->
<!--   </div>-->
</div>
