<div class="outer-view">
    <div class="image-block-grid grid-x">
        <div class="image-block small-12 medium-6 columns">
            <img src="assets/images/container.png" class="best-seller"/>
            <img src="assets/images/view-product.png" class="sweet-out"/>
            <img src="assets/images/vegan-logo.png" class="vegan"/>
            <div class="outer-btn">
            <button class="view-btn" (click)="openPopUp2()">View Product</button>
            </div>
        </div>
    
        <div class="image-block columns medium-6">
            <img src="assets/images/container.png" class="best-seller"/>
            <img src="assets/images/view-product.png" class="sweet-out"/>
            <img src="assets/images/vegan-logo.png" class="vegan"/>
            <div class="outer-btn">
            <button class="view-btn">View Product</button>
            </div>
        </div>
    
        <div class="image-block columns medium-6">
            <img src="assets/images/container.png" class="best-seller"/>
            <img src="assets/images/view-product.png" class="sweet-out"/>  
            <img src="assets/images/vegan-logo.png" class="vegan"/>
            <div class="outer-btn">
            <button class="view-btn">View Product</button>
            </div>       
        </div>
    
        <div class="image-block columns medium-6">      
            <img src="assets/images/container.png" class="best-seller"/>  
            <img src="assets/images/view-product.png" class="sweet-out"/>
            <img src="assets/images/vegan-logo.png" class="vegan"/>
            <div class="outer-btn">
            <button class="view-btn">View Product</button>
            </div>
       </div>
</div>
