<div class="modal">
  <!-- Modal content -->
  <div class="modal-content">
   <span (click)="modalClosed()" class="close"><i class="fas fa-times"></i></span>
   <div class="image-block-grid grid-x">
    <div class="image-block small-12 medium-6 columns">
        <img src="assets/images/container.png" class="best-seller"/>
        <img src="assets/images/view-product.png" class="sweet-out"/>
        <img src="assets/images/vegan-logo.png" class="vegan"/>
    </div>
    <div class="outer-box columns medium-6">
       <h1 class="header">skittles</h1>
       <p class="text">Your favourite candy. Sweet and delicious. Its also vegan friendly. Start your bag now.</p>
       <button class="bag-btn">Start My Bag</button>
     </div>
    
  </div>
  </div>
</div>
