.category {
  border-radius: 3px;
  margin: 0 auto;
  padding: 30px;
  width: 100%;
}
.color-box {
  display: inline-flex;
  background-color: #FFDE32;
  width: 150px;
  padding: 7px 10px;
  border-radius: 20px;
  outline: none;
}

.left-box {
  display: inline-flex;
  background-color: #FFDE32;
  width: 150px;
  padding: 7px 10px;
  border-radius: 20px;
  float: right;
}

.left-button {
  width:100%;
}

button {
  margin-top: 0;
}

.text {
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  margin: 0;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.refineIcon {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 3px;
  margin-left: 10%;
}
.choices {
  color: #000;
  text-transform: capitalize;
  text-align: center;
  font-weight: lighter;
  max-height: 6px;
}
.pure-checkbox {
  padding: 0px !important;
}

.selectionFields .lazyContainer .dropdown-list ul li:last-child {
   padding-bottom: 0px !important;
  height: 11px !important;
}

.selectionFields .lazyContainer ul li {
    padding:  0px !important;
  cursor: pointer;
   text-align: left;
 }


.selectionFields .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: #38d574 !important;
}

