<!-- <form [formGroup]="thisform"> -->
  <div class="outside">
<div class="outer-form">
    <div class="formInput">
      <form
  class="content"
  [formGroup]="registerForm"
>
  <label>
    <!-- <span class="required">* Required</span> -->
    <input
      type="text"
      [formControl]="fullName"
      placeholder="Full Name"
      class="username"
    />
  </label>
  <label>
    <input
      type="text"
      [formControl]="emailAddress"
      placeholder="Email Address"
      class="username"
    />
    <input
      type="text"
      [formControl]="phoneNumber"
      placeholder="Phone Number"
      class="username"
    />
  </label>
  <!-- <button class="button register" id="check" type="submit" [disabled]="submitButton">Register</button> -->
  <!-- <p class="form-error" *ngIf="error">{{ error }}</p> -->
</form>
  </div>
</div>
</div>


