.outer-form {
  background-color: white;
  width: 60%;
  padding: 25px;
  position: relative;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

.input-title {
  padding: 20px 35px;
  height: 45px;
  display: block;
  margin: 0 auto 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}

.username {
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
