<div class="grid-x outer-box" >
    <div class="image-outer small-6 medium-3 columns" *ngFor="let image of url">
        <div class="image-wrapper">
            <div class="counter-wrapper">
                <p class="counter"><span class="number">{{counter}}</span></p>
            </div>
            <img [src]="image.url" class="image-item" />
        </div>
    </div>
</div>
<!-- <div class="out-text">
    <h3 class="inside-text">Address: 
    </h3>
    <h3 class="inside-text">Email: 
    </h3>
    <h3 class="inside-text">Total: 
    </h3>
</div> -->

