<div class="grid-x" >
    <div class="image-outer small-6 medium-2 columns">
    <div class="image-wrapper" >
        <div class="counter-wrapper">
            <p class="counter"><span class="number">{{counter}}</span></p>
        </div>
        <img src="/assets/images/sweets-jar1.png" class="image-item" [alt]="image.description" />
        <div class="counter-wrapper">
            <p class="counter"><span class="number">{{counter}}</span></p>
        </div>
        <img src="/assets/images/sweets-jar1.png" class="image-item" [alt]="image.description" />
        <div class="counter-wrapper">
            <p class="counter"><span class="number">{{counter}}</span></p>
        </div>
        <img src="/assets/images/sweets-jar1.png" class="image-item" [alt]="image.description" />
        <div class="counter-wrapper">
            <p class="counter"><span class="number">{{counter}}</span></p>
        </div>
        <img src="/assets/images/sweets-jar1.png" class="image-item" [alt]="image.description" />
    </div>
    </div>
</div>


