@import "../../../styles.scss";

.view-btn {
  background-color: #ed315dff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px 0px #946f6f;
  top: 200px;
  position: relative;
}

// .header-search input[type="text"] {
//   display: block;
//   margin: 0 auto;
//   padding: 10px;
//   font-size: 17px;
//   border-radius: 0;
//   border-top-left-radius: 30px;
//   border-bottom-left-radius: 30px;
// }

// .header-search {
//   margin-top: 150px;
// }

// .header-search button {
//   padding: 10px;
//   background: #ed315dff;
//   color: white;
//   font-size: 17px;
//   border-left: none;
//   cursor: pointer;
//   border-radius: 100%;
// }

// .header-search button:hover {
//   background: rgb(224, 31, 76);
// }

// .header-search::after {
//   content: "";
//   clear: both;
//   display: table;
// }

// .search-bar {
//   border-radius: 30px;
// }

.sweets-arrow {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 48%;
  top: 90%;
}

.down-arrow {
  display: block;
  margin: 0 auto;
}

.search-wrapper {
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
  text-align: center;
  border-radius: 30px;
  height: 40px;
  background-color: #ffffff;
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-bottom: none;
  }

  @media screen and (max-width: 800px) {
    .search-bar {
      position: flex;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
  }
}
