<!-- <form class="header-search" action="action_page.php"> 
  <div class="search-wrapper">
    <input type="text" name="search" class="search-bar"> 
    <button type="submit"><i class="fas fa-search"></i></button>
  </div>
</form> -->

  <div class="view-products-btn">
    <button class="view-btn">
      <a href="/view-products">View products</a>
    </button>
  </div>

<!-- <div class="hero-sweets">
  <img src="/assets/images/hero-sweet.png" class="sweets-image" alt="picture of sweets."/>
</div> -->

<!-- <div class="sweets-arrow">
  <i class="fas fa-chevron-down"></i>
</div> -->

<div class="sweets-arrow">
  <img src="/assets/images/down-arrow.png" class="down-arrow" alt="down arrow"/>
</div>