.sweets-logo {
display: block;
margin: 0 auto;
width: 400px;
height: 300px;
}

.header-search input[type=text] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.header-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ed315dff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

.header-search button:hover {
  background: rgb(230, 49, 91);
}

.header-search::after {
  content: "";
  clear: both;
  display: table;
}

