<!-- <form [formGroup]="thisform"> -->
<div class="outer-form">
    <div class="formInput">
      <form
  class="content"
  [formGroup]="registerForm"
>
  <label>
    <!-- <span class="required">* Required</span> -->
    <input
      type="text"
      [formControl]="cardNumber"
      placeholder="Card Number"
      class="username"
    />
  </label>
  <label>
    <input
      type="text"
      [formControl]="cvv"
      placeholder="CVV"
      class="username"
    />
    <input
      type="text"
      [formControl]="expiryDate"
      placeholder="Expiry MM/YY"
      class="username"
    />
    <input
      type="text"
      [formControl]="cardOwnerName"
      placeholder="Card Owner Name"
      class="username"
    />
    <input
      type="text"
      [formControl]="postCode"
      placeholder="Post Code"
      class="username"
    />
  </label>
  <!-- <button class="button register" id="check" type="submit" [disabled]="submitButton">Register</button> -->
  <!-- <p class="form-error" *ngIf="error">{{ error }}</p> -->
</form>
  </div>
</div>

