  <div class="wrapper-hero">
    <app-all-products></app-all-products>
  </div>

  <div class="view-products">
    <app-view-products (togglePopUp2)="openPopUp2()"></app-view-products>
    <div class="popup-modal2" *ngIf="togglePopUp2"></div>
    <app-product-modal (modalClose)="openPopUp2()"></app-product-modal>
  </div>
  
  <div class="hero-wrapper">
   <app-navbar></app-navbar> 
   <app-sweets-header></app-sweets-header>
  </div>
  <app-banner-homepage (togglePopUp)="openPopUp()"></app-banner-homepage>
  <app-sweets-grid (togglePopUp)="openPopUp()"></app-sweets-grid>
  <div class="popup-modal" *ngIf="togglePopUp">
      <app-steps (modalClose)="openPopUp()"></app-steps>
  </div>
