.call-to-action{
  font-size: 25px;
  padding: 40px;
}

.call-to-action p{
  margin-bottom: 0px;
  text-align: center;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
