.wrapper {
    padding: 10px 70px;
}
.headers {
    background-color:#131e5f;
    color: white;
    /*border-bottom:2px solid #131e5f;*/
    /*border-top:2px solid #131e5f;*/
    border-radius: 25px;
}

.headings {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
.price-header {
    text-align: left;
    margin-left: 25px;
}

.headings h3  {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.header-text {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

.total-price, .shipping-text {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.shipping-text {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    clear: both;
    padding: 10px;
}

.total-price {
    margin-bottom: 20px;
    display: table;
    clear: both;
    width: 100%;
    padding-top: 20px;
}

label {
    color: black;
}

.shipping-price {
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 40px;
}

.button-wrapper {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
}

button {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

button.small-button {
    padding: 6px;
    font-size: 12px;
    margin-top: 11px;
}

.shipping-option-choice, .coupon-option {
    max-width: 300px;
    padding: 0 10px;
    margin: 0 auto;
}

.modification-wrapper {
    background-color: #ECECEC;
    width: 100%;
    padding: 20px 10px;
}

.coupon-input {
    display: inline-block;
    width: 60%;
}

.coupon-button {
    display: inline-block;
    width: 40%;
}

.coupon-banner-error {
    background-color: #8B0000;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    clear: both;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.coupon-banner-success {
    background-color: #006400;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    clear: both;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 520px) {
    .button {
        width: calc(100% - 10px);
    }
}

@media (max-width: 700px) {
    .headers {
        display: none;
    }
}
@media (max-width: 500px) {
    .wrapper {
        padding: 10px;
    }

    .header-text{
        color: white;
        background-color: #131e5f;
        padding: 20px 5px;
        border-radius: 31px;
    }
}
