<div class="wrapper-hero"> 
    <app-all-products></app-all-products>
  </div>
    
<div class="grid-x grid-margin-x">
    <div class="grid small-12 medium-6 cell" *ngFor="let image of url" [ngClass]="{'best-seller': image.bestSeller, 'sweet-out': true, 'vegan': true}" >
        <img [src]="image.url" class="image"/>
        <div class="outer-btn">
        <button class="view-btn" (click)="image.open = true">View Product</button>
        </div>
        <app-product-modal [hidden]="!image.open" (modalClose)="closeModal(image)"></app-product-modal>
    </div>
</div>
    

