.product-details {
  padding: 30px;
}

.product {
  padding: 30px;
}

.text {
  font-weight: bold;
}

.product-details {
  position: relative;
  right: 0px;
  top: auto;
}

h1, h4 {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 25px;
  margin: 0;
  color: #000;
  width: 100%;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;

}

h4 {
  font-size: 16pt;
  color: #aaa;
  font-weight: lighter;
}

h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: lighter;

}

.buy-container {
  width: 100%;
}

.buy-container h3 {
  float: left;
}

.buy-container button {
  float: right;
  margin-left: 10px;
}

@media (max-width: 520px) {
  h1 {
    font-size: 24px;
  }
}


.productImage{
  width: 100%;
}

.smallImages{
  cursor: pointer;
}

.view-previews {
  display: inline-flex;
  margin-top: 15px;
}

.sliderBtn:active {
  animation: pulsate 0.3s;
}


.thumbnailProductImage{
  width: 100%;
  height: 100px;
  float: left;
  /*padding-left: 10px;*/
  border-radius: 0px;
  /*padding-top: 10px;*/
  object-fit: cover;
  object-position: top;
  border: 1px solid #a8a8a8;
}

.productImage{
  display:none;
}

.productImage.active{
  display:block;
  margin: 0 auto;
  width: 400px;
  height: 500px;
  object-fit: contain;
  /*border: 1px solid #CE4C74;*/
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.imageContainer{
  max-width: 100%;
}

.arrow-container{
  display: flex;
  position: relative;
}

.sliderBtn{
  width: 60%;
  color:black;
  padding: 5px;
  height: 100px;
  cursor: pointer;
}

.left{
  margin-top: -45%;       
}

.right{
  margin-top: -45%;
}

/*.sliderBtn:hover{*/
/*  background-color: #CE4C74;*/
/*  border: 1px solid #CE4C74;*/
/*}*/

.sliderBtn:focus {
  outline:0;
}

.preview-container {
  display: block;
  /*margin: 0 auto;*/
  /*margin-left: 25%;*/
}

.arrowIcons{
  font-size: 30px;
}

.bigImage-wrapper{
  position: relative;
  border: 1px solid black;
  height: 200px;
  width: 300px;
}

.bigImage{
  background-size: contain;
}

.product-image {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.color-title {
  margin-bottom: 8px;
  font-weight: bold;
}

.descriptions ::ng-deep li {
  color: red;

}

.color-select {
  display: inline-flex;
  border-radius: 80%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  /*border: 2px solid black;*/
}

.red {
  background-color: #af0000;
  padding: 10px;
}
.orange {
  background-color: #ff6f00;
  padding: 10px;
}
.blue {
  background-color: #2d80ff;
  padding: 10px;
}
.pink {
  background-color: #d0009f;
  padding: 10px;
}
.white {
  background-color: #f6eaea;
  padding: 10px;
}
.black {
  background-color: #000000;
  padding: 10px;
}

.color-select:hover {
  border: 2px solid #FFDE32;
}
.color-select:active {
  border: 2px solid red;
}

.size-select {
  display: inline-flex;
  border-radius: 48px;
  margin-right: 20px;
  outline:none;
  padding: 5px;
  cursor: pointer;
}

.size-select:hover, .size-select.selected {
  background-color: #131e5f;
  color: white;
  font-weight: bold;
  border: 2px solid #FFDE32;
  padding: 20px 10px;
}

.descriptions {
  margin-top: 20px;
}

.full-width-line {
  width: 100%;
  border: 1px solid grey;
}

.additional-information {
  display: block;
  background-color: black;
  color:white;
  width: 100%;
  border-bottom: 2px solid #FFDE32;
  cursor: pointer;
}

.additional-information h3 {
  margin-top:5px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-transform: capitalize;
  display: inline-block;
  width: 80%;
}

.see-more {
  width: 20px;
  height: 20px;
}

.see-button {
  display: inline-block;
  width: 20%;
  margin-top:5px;
  height: 28px;
}
.see-more-closed {
  margin-top: -2px;
  height: 22px;
  margin-left: 4%;
  transform: rotate(45deg);
}
.see-more-closed-btn {
  display: inline-block;
  width: 20%;
  margin-top:5px;
  height: 28px;
  transform: rotate(45deg);
}

.information {
  padding-top: 10px;
  padding-left: 20px;
}


.suggestions {
  padding-bottom: 30px;
}
