@import "../../../styles.scss";

.sweets-grid-outer {
  padding-top: 30px;
}

.image-holder {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 25%;
}

.first-sweets-grid {
  background-color: #00b7df;
  color: white;
  position: relative;
  padding-bottom: 15px;
}

.text-content-one {
  position: relative;
  z-index: 1;
  padding-left: 80px;
  padding-right: 25%;
  text-align: center;
}

.second-sweets-grid {
  background-color: #faedca;
  color: white;
  position: relative;
}

.text-content-two {
  position: relative;
  z-index: 1;
  padding-left: 80px;
  padding-right: 25%;
  color: black;
  text-align: center;
}

.third-sweets-grid {
  background-color: #ed315d;
  color: white;
  position: relative;
}

.text-content-three {
  position: relative;
  z-index: 1;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  padding-top: 40px;
}

.image-holder-three {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 15%;
}

.sweets-grid-btn-outer {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.sweets-grid-btn {
  background-color: #00b7df;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgb(148, 111, 111);
}

.sweets-grid-btn:hover {
  background-color: #2dabca;
}

@media screen and (max-width: 800px) {
  .sweets-grid-outer {
    font-size: 15px;
  }
}
