<div class="grid-x sweets-grid-outer">

    <div class="small-12 medium-6 columns first-sweets-grid">
        <div class="text-content-one">
             <h2>Delivered Straight To Your Home</h2>
        <p>Order now for quick delivery.
            We can promise you will enjoy it. Order now for quick delivery. We can promise you will enjoy it.Order now for quick delivery.Order now for quick delivery. We can promise you will enjoy it.Order now for quick delivery.
        </p>
        </div>
       
        <div class="image-holder">
            <img src="/assets/images/gummy-bear1.png" alt="green red and yellow sugared gummy bears" class="grid-images-one"/>
        </div>
    </div>

    <div class="small-12 medium-6 columns second-sweets-grid">
        <div class="text-content-two">
             <h2>Delivered Straight To Your Home</h2>
        <p>Order now for quick delivery.
            We can promise you will enjoy it. Order now for quick delivery. We can promise you will enjoy it.Order now for quick delivery.Order now for quick delivery. We can promise you will enjoy it.Order now for quick delivery.
        </p>
        </div>
       
        <div class="image-holder">
            <img src="/assets/images/candy.png" alt="colourful candy sweets" class="grid-images-two"/>
        </div>
    </div>

    <div class="small-12 medium-12 columns third-sweets-grid">
        <div class="text-content-three">
        <h2>Delivered Straight To Your Home</h2>
        <p>Order now for quick delivery.
            We can promise you will enjoy it. Order now for quick delivery. We can promise you will enjoy it.
        </p>
        </div>

        <div class="image-holder-three">
            <img src="/assets/images/candy-bottom.png" alt="white red and yellow candy bottles" class="grid-images-three"/>
        </div>
        
        <div class="sweets-grid-btn-outer">
        <button class="sweets-grid-btn"><a href="/"></a>Order Now</button>
        </div>
    </div>

</div>
