.offers {
  width: 100%;
}

.offers-title {
  display: inline-block;
  background-color: #f683b1;
  padding: 15px;
  margin-bottom: 0;
  border-top-right-radius: 30px;
  color: #4e4e4e;
}

.sweets {
  background-color: #4e4e4e;
  position: relative;
  padding: 30px 30px 100px;
  color: #fff;
}

.cupcakes {
  background-color: #4e4e4e;
  position: relative;
  padding: 30px 30px 100px;
  color: #fff;
}

.cookies{
  background-color: #4e4e4e;
  position: relative;
  padding: 30px 30px 100px;
  color: #fff;
}

.thumbnail {
  width: 100%;
  min-height: 190px;
  display: block;
  background-size: contain;
  margin: 0 auto 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.offers-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.invert-Btn {
  border: 1px solid  #f683b1;
  background-color: #f683b1;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
}

@media (max-width: 520px) {
  .thumbnail {
    max-height: none;
  }
}
