<div class="router-outlet">
  <div class="full-width">
    <ul class="grid-x whole-list large-screen-menu">
      <li class="medium-1 columns sale-font">
        <a routerLink="/">
         Home
        </a>
      </li>
<!--      <li class="medium-1 columns list" *ngFor="let menuItem of menuItems">-->
<!--        <a class="menu-items" [routerLink]="menuItem.link" [queryParams]="menuItem.queryParams">-->
<!--          {{ menuItem.text }}-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="bars">-->
<!--        <button class="sidebar">-->
<!--          <i class="fas fa-bars"></i>-->
<!--        </button>-->
<!--      </li>-->
      <li class="medium-1 columns list" *ngFor="let menuItem of categories;">
        <a class="css-dropdown"  routerLink="/shop" [queryParams]="{categoryId: menuItem._id}">
          {{ menuItem.name }}
        </a>
    </li>
      <li class="medium-1 columns  more-font">
        <a routerLink="/catalog">
          More
        </a>
      </li>
  </ul>
    <div class="small-screen-menu">
      <div class="shopsmall">
        <ul class="grid-x">
          <li class="medium-6 columns smallList" *ngFor="let menuItem of smallItems;let i = index">
            <a class="css-dropdown" [routerLink]="menuItem.link">
              {{ menuItem.text }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
